---
# some stuff
---

@import "sidenav";

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

$gradient1 : rgba(104, 169, 255, 0.3);
$gradient2 : transparent;
$angle : 60deg;

body{
    background: linear-gradient(45deg, $gradient1, $gradient2);
    // animation-name: example;
    // animation-duration: 4s;
}

.mdl-layout__container{
    background: linear-gradient($angle, $gradient1, $gradient2);
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 2em 10px;
  margin-left: 2em;
  margin-right: 0px;
  // width: 100%;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.mdl-card__supporting-text{
    width: 100%;
}
