<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/site.css' | relative_url }}">
  </head>
  <body>

      <div class="mdl-layout mdl-js-layout">
       <header class="mdl-layout__header mdl-layout__header">
         <div class="mdl-layout__header-row">
           <span class="mdl-layout-title">{{site.title}}</span>
           <div class="mdl-layout-spacer"></div>
           <nav class="mdl-navigation">
           </nav>
         </div>
       </header>
       <div class="mdl-layout__drawer" >
         <span class="mdl-layout-title">{{site.title}}</span>
         {% include sidenav.html %}
       </div>
       <main class="mdl-layout__content">
           {{content}}
       </main>
     </div>



  </body>
</html>
